<ion-header [translucent]="false">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar color="primary" >
    <ion-title >
   <h1 class="example">AutoDeal</h1> 
  </ion-title>

  <ion-buttons slot="end">   
<ion-button class="eg">
  &nbsp; &nbsp; 
  <ion-icon name="person-outline"></ion-icon>  
  &nbsp; Log in 
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="primary">
    <ion-button  class="eg">
      New Cars
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="primary">
    <ion-button  class="eg">
      Used Cars
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="primary">
    <ion-button  class="eg">
      Car Reviews
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="primary">
    <ion-button  class="eg">
      Car Leasing
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="primary">
    <ion-button  class="eg">
      Car Deals
    </ion-button>
  </ion-buttons>

</ion-toolbar>
<!--<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span  class="example">AutoDeal</span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span><span class="example-spacer"></span><span class="example-spacer"></span>
    <span> New Car  </span>
    <span ></span>
    <span> Old Car  </span>
    <span></span>
    <span>Log in  </span>
    <span></span>
    <span>Log in  </span>
    <span></span>
    <span>Log in  </span>
    <span></span>
    <span>Log in  </span>
  </mat-toolbar-row>
</mat-toolbar>
-->




  <ion-card class="topcard">
    <img  src="./assets/icon/01-Mercedes-Maybach-S-560-4MATIC-4k.jpg" />
  </ion-card>
  <a class="centered" href="https://www.carwow.co.uk/">The car buying compaison site</a>

  <!--<ion-row>
    <ion-col>
      <div><ion-card class ="one">
        <img src="./assets/icon/01-Mercedes-Maybach-S-560-4MATIC-4k.jpg" 
        />
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card></div>
    </ion-col>
    <ion-col>
      <div><ion-card class ="one">
        
       
        <ion-card-header>
          <img src="./assets/icon/01-Mercedes-Maybach-S-560-4MATIC-4k.jpg"/>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card></div>
    </ion-col>
    <ion-col>
      <div><ion-card class ="one">
        <img src="./assets/icon/01-Mercedes-Maybach-S-560-4MATIC-4k.jpg"/>
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content text-align: center>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
      </div>
    </ion-col>
  </ion-row>-->
  <ion-row>
    <ion-col>
     <div><mat-card>
      <img mat-card-image src="./assets/icon/01-Mercedes-Maybach-S-560-4MATIC-4k.jpg">
      <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card></div>
    </ion-col>
    <ion-col>
      <div><mat-card>
        <img mat-card-image src="./assets/icon/01-Mercedes-Maybach-S-560-4MATIC-4k.jpg">
        <mat-card-header>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    </ion-col>
    <ion-col>
      <div><mat-card>
        <img mat-card-image src="./assets/icon/01-Mercedes-Maybach-S-560-4MATIC-4k.jpg">
        <mat-card-header>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card></div>
    </ion-col>
  </ion-row> 
</ion-content>
